---
layout: layouts/home.njk
title: Blog
permalink: /posts/
eleventyNavigation:
  key: Blog
  order: 2
---

<h2>Some thoughts.</h2>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}