---
layout: layouts/home.njk
title: Blog
permalink: false
eleventyNavigation:
  url: https://blog.corycrowley.me
  key: Blog
  order: 2
  external: true
---

<h2>Some thoughts.</h2>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}