---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<div class="jumbo">
  <div class="jumboName" ><span id="jumbo_name"></span></div>
  <div class="socialLinks">
    <div class="socialLink github">
      {# <a href="https://github.com/ccrowley96" target="_blank"><img src="/img/icons/github.svg" /></a>    #}
      <a href="https://github.com/ccrowley96" target="_blank">{% include "icons/github.svg"%}</a> 
    </div>  
    <div class="socialLink linkedin">
      <a href="https://www.linkedin.com/in/crowleycoryz/" target="_blank">{% include "icons/linkedin.svg"%}</a>    
    </div>
    <div class="socialLink twitter">
      <a href="https://twitter.com/crowlsyung" target="_blank">{% include "icons/twitter.svg"%}</a>
    </div>
    <div class="socialLink soundcloud">
      <a href="https://soundcloud.com/ccrowley96" target="_blank">{% include "icons/soundcloud.svg"%}</a>
    </div>
  </div>
  
</div>
<div class="recentTitle">Recent Blogs</div>
<div class="recentItems">
  {% set postslist = collections.posts | head(-3) %}
  {% set postslistCounter = collections.posts | length %}
  {% include "postslist.njk" %}
  {# <p class="postCallout">More posts can be found in <a href="{{ '/posts/' | url }}">my blog</a>.</p> #}
</div>
<div class="recentTitle">Recent Projects</div>
<div class="recentItems">
  {% set projectslist = collections.projects | head(-3) %}
  {% set projectslistCounter = collections.projects | length %}
  {% include "projectslist.njk" %}
  {# <p class="postCallout">More projects can be found in <a href="{{ '/projects/' | url }}">my projects</a>.</p> #}
</div>
