---
permalink: /projectTags/
layout: layouts/home.njk
---
<h1>Project Tags</h1>

<div class="allTagWrapper">
{% for tag in collections.projectTagList %}
  {% set tagUrl %}/projectTags/{{ tag }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="tag projectTag allTagItem">{{ tag }}</a>
{% endfor %}
<div>