---
layout: layouts/home.njk
permalink: /projects/
eleventyNavigation:
  key: Projects
  order: 2
---

<h2>Some projects.</h2>

{% set projectslist = collections.projects %}
{% include "projectslist.njk" %}