<ul reversed class="postlist" style="list-style-type:none;">
{% set itemNo %}{{(postslistCounter or postslist.length)}}{% endset %}
{% for post in postslist | reverse %}
    <li onClick="linkClick('{{ post.url | url }}')" class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
      <div class="projectHeadingWrapper">
        <div class="projectHeading">
          <div class="projectHeadingNo">#{{itemNo}}</div>
            <div class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</div>
        </div>
      <div class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</div>
        {%if post.data.tags.length > 0%}
          <div class="tagWrapper">
            {% for tag in post.data.tags %}
              {%- if collections.tagList.indexOf(tag) != -1 -%}
              {% set tagUrl %}/tagged/{{ tag }}/{% endset %}
              <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
              {%- endif -%}
            {% endfor %}
          <div>
        {%endif%}
    </li>
  {% set itemNo %}{{itemNo - 1}}{% endset %}
{% endfor %}
</ul>
