---
layout: layouts/base.njk
templateClass: tmpl-home
---
{{ content | safe }}

<!-- Type JS -->
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
<script type="text/javascript">
    $(document).ready(function() {
    var options = {
        strings: ["Cory Z. Crowley"
                 ],
        typeSpeed:150,
        showCursor: false,
    }
    
    var typed = new Typed("#jumbo_name", options);
});
</script>
