---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1>{{ title }}</h1>

{{ content | safe }}

{% if videoLink %}
<h3>Video Link</h3>
<div class="video-container">
    <iframe width="100%" height="100%" src="{{videoLink}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{% endif%}

{% if images %}
<div class="{% if images.length > 1 %} slider{% endif %} projectImageContainer">
    {%for img in images%}
        <img class ="projectImage" src="{{img}}" />
    {% endfor %}
</div>
{% endif %}

<p><a href="{{ '/posts' | url }}">← Blog</a></p>
