---
layout: layouts/base.njk
templateClass: tmpl-project
---
<h1 class="projectTitle">{{ title }}</h1>
<h3 class="projectSubtitle">{{subtitle}}</h3>
{%if tags.length > 0%}
    <div class="portfolioTagsWrapper">
    <span>
        <h4 class="tagHeader">Tags:</h4>
        {% for tag in tags %}
            {%if tag != "projects"%}
                {%- if collections.projectTagList.indexOf(tag) != -1 -%}
                {% set tagUrl %}/projectTags/{{ tag }}/{% endset %}
                <a href="{{ tagUrl | url }}" class="tag projectTag">{{ tag }}</a>
                {%- endif -%}
            {% endif%}
        {% endfor %}
        </span>
    </div>
{%endif%}
<div class="projectLinkWrapper">
    {% if externalLink %}
            <a class="projectLink" href="{{ externalLink | url }}" target="_blank">
                <div class="projectLinkIcon">{% include "icons/link.svg"%}</div>
                <div>Project Link</div>
            </a>
    {% endif %}
    {% if github %}
        <a class="projectLink" href="{{ github | url }}" target="_blank">
            <div class="projectLinkIcon">{% include "icons/github.svg"%}</div>
            <div>View code on Github</div>
        </a>
    {% endif %}
</div>

{{ content | safe }}

{% if videoLink %}
<h3>Video Link</h3>
<div class="video-container">
    <iframe width="100%" height="100%" src="{{videoLink}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{% endif%}

{% if images %}
<div class="{% if images.length > 1 %} slider{% endif %} projectImageContainer">
    {%for img in images%}
        <img class ="projectImage" src="{{img}}" />
    {% endfor %}
</div>
{% endif %}

<p><a href="{{ '/projects' | url }}">← Projects</a></p>


