---
layout: layouts/base.njk
templateClass: tmpl-project
---
<h1>{{ title }}</h1>
<h3>{{subtitle}}</h3>
{% if externalLink %}
    <div class="externalLink"><a href="{{ externalLink | url }}" target="_blank">Live project link!</a></div>
{% endif %}
{% if github %}
    <div class="github-link"><a href="{{ github | url }}" target="_blank">View code on Github</a></div>
{% endif %}

{{ content | safe }}


{% if videoLink %}
<h3>Video Link</h3>
<div class="video-container">
    <iframe width="100%" height="100%" src="{{videoLink}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{% endif%}

{% if images %}
<div class="{% if images.length > 1 %} slider{% endif %} projectImageContainer">
    {%for img in images%}
        <img class ="projectImage" src="{{img}}" />
    {% endfor %}
</div>
{% endif %}

<p><a href="{{ '/projects' | url }}">← Projects</a></p>


